<div id="content" ng-controller='GameController as ctrl'>
  <!-- heading -->
  <div id="heading">
    <h1 class="title">2048</h1>
    <div class="scores-container">
      <div class="score-container">{{ctrl.game.currentScore}}</div>
      <div class="best-container">{{ctrl.game.highScore}}</div>
    </div>
  </div>

  <!-- instructions -->
  <div id="instructions">
    Join the numbers and get to the <strong>2048</strong> tile!
    <button ng-click='ctrl.newGame()'>New game</button>
  </div>
  
  <div id="game" grid ng-model='ctrl.game'></div>
</div>
